<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li Style="display: inline"><%= link_to 'Inicio', root_path %></li>
    <li Style="display: inline"><%= link_to 'Capitán América', america_path %></li>
    <li Style="display: inline"><%= link_to 'Iron-Man', ironman_path %></li>
    <li Style="display: inline"><%= link_to 'Hulk', hulk_path %></li>
    <li Style="display: inline"><%= link_to 'Thor', thor_path %></li>
  </ul>
</div>
 